<div class="row">
	<div class="xs-col-12">
		<div class="alert alert-danger alert-block">
			<h1><span class="mega-octicon octicon-issue-opened"></span>&nbsp;error!</h1>
			<p>failed to load data from the github api.</p>
		</div>
	</div>
</div>