<div class="row">
	<div class="xs-col-12">
		<div class="alert alert-info alert-block">
			<h1><span class="mega-octicon octicon-hourglass"></span>&nbsp;loading</h1>
			<p>accessing the github api...</p>
		</div>
	</div>
</div>