$bg: #2f2f2f;
$fg: #fff;
$link: #67D742;
$wellBg: #111;
$wellFg: #fff;
$wellLink: #A5735A;
$wellMinHeight: 50px;
$quoteFg: #eee;
$quoteLink: #EF0E73;
$dateFg: #008599;
$navDefault: #fff;
$navActive: #10FC05;
$navHover: #EF0E73;
