html,body {
    background: #2f2f2f;
    color: #fff;
    height: 100%;
    font-size: 12pt;
    text-shadow: 2px 2px 2px #111;    
}
a, a:visited, a:hover {
    color: #08c;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid #00527c;
}
small {
    color: #dbc06f;
}
.span3 {
    margin: 5px;
}
blockquote {
    margin: 2px 0px;
    border-left-color: #111;
    color: #ccc;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -61px;
}
#push,#footer {
    height: 60px;
}
#footer {
    color: #fff;
    background-color: #111;
    text-align: center;
    border-top: 1px solid #000;
    text-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: inset 0 -20px 29px -6px #000;
    -moz-box-shadow: inset 0 -20px 29px -6px #000;
    box-shadow: inset 0 -20px 29px -6px #000;    
}
#footer a,#footer a:visited {
    color: #dbc06f;
}
#footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid #000;
}
#wrap > .container {
    padding-top: 60px;
}
.container .credit {
    margin: 12px 0;
}
.hero-unit, .well, code, pre {
    background: #111;
    border: 1px inset #000;
    -webkit-box-shadow: inset 0 0 23px 1px #000;
    -moz-box-shadow: inset 0 0 23px 1px #000;
    box-shadow: inset 0 0 23px 1px #000;
    padding: 25px;
}
.hero-unit {
    min-height: 220px;
    text-align: center;
}
.hero-unit img {
    width: 50%;
}
.hero-unit h1 {
    padding-top: 60px;
}
code, pre, .well {
    padding: 4px;
    color: #dbc06f;
    text-shadow: none;
}
.well a, .well a:visited {
    color: #dbc06f;
}
.well a:hover {
    border-color: #d7a713;
}
nav a .mini-icon {
    color: #dbc06f;
}
.alert {
    color: #fff;
}
.alert-info {
    background: #3a87ad;
    border: 1px solid #bce8f1;
    text-shadow: 1px 1px 4px #1a3c4e;
}
.alert-success {
    background: #468847;
    border: 1px solid #006600;
    text-shadow: 1px 1px 4px #003300;
}
.alert-error {
    background: #990000;
    border: 1px solid #d40408;
    text-shadow: 1px 1px 4px #d40408;
}
.repo-icon, .gist-icon {
    margin-top: 60px;
    font-size: 32pt!important;
}
.move-down {
    margin-top: 60px;
}
@media (max-width: 979px) {
    #wrap > .container {
        padding-top: 0px;
        margin-top: 0px;
    }
    .hero-unit img {
        width: 50%;        
    }
    .hero-unit {
        min-height: 120px;
    }
    .hero-unit h1 {
        font-size: 40px;
        padding-top: 30px;
    }
}
@media (max-width: 768px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 0.85em;
    }
    .hero-unit {
        min-height: 100px;
    }
    .hero-unit h1 {
        font-size: 20px;
        padding-top: 15px;
    }
}
@media (max-width: 480px) {
    .hero-unit {
        min-height: 70px;
    }
    .hero-unit h1 {
        font-size: 20px;
        padding-top: 15px;
    }    
}