@font-face{font-family:'Octicons Regular';src:url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-a20448aa13cf370506c8a675c4fc0efba750115c.eot");src:url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-a20448aa13cf370506c8a675c4fc0efba750115c.eot#iefix") format("embedded-opentype"),url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-46d3d8ac303cad13c0b2006f8e8149a472d9d4e5.woff") format("woff"),url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-93f33ad81ec64b5f0980ad57a53cf82e8445cab9.ttf") format("truetype"),url("https://a248.e.akamai.net/assets.github.com/assets/octicons/octicons-regular-webfont-f963ccb8f0402b76e11107147fe5b2e275319280.svg#newFontRegular") format("svg");font-weight:normal;font-style:normal}
.mini-icon,.mega-icon{font-family:'Octicons Regular';font-weight:normal;font-style:normal;display:inline-block;text-decoration:inherit;line-height:1;-webkit-font-smoothing:antialiased;line-height:1;text-decoration:none}
.mini-icon{font-size:16px;width:16px;height:16px}
.mini-icon-private-repo:before{content:"\f06a"}
.mini-icon-public-repo:before{content:"\f001"}
.mini-icon-repo-forked:before{content:"\f002"}
.mini-icon-create:before{content:"\f003"}
.mini-icon-delete:before{content:"\f004"}
.mini-icon-push:before{content:"\f005"}
.mini-icon-pull:before{content:"\f006"}
.mini-icon-readme:before,.mini-icon-wiki:before{content:"\f007"}
.mini-icon-octocat:before{content:"\f008"}
.mini-icon-site-message:before,.mini-icon-blacktocat:before{content:"\f009"}
.mini-icon-invertocat:before{content:"\f00a"}
.mini-icon-download:before{content:"\f00b"}
.mini-icon-upload:before{content:"\f00c"}
.mini-icon-keyboard:before{content:"\f00d"}
.mini-icon-gist:before{content:"\f00e"}
.mini-icon-gist-private:before{content:"\f00f"}
.mini-icon-code-file:before,.mini-icon-download-unknown:before{content:"\f010"}
.mini-icon-download-text:before,.mini-icon-text-file:before{content:"\f011"}
.mini-icon-download-media:before{content:"\f012"}
.mini-icon-download-zip:before{content:"\f013"}
.mini-icon-download-pdf:before{content:"\f014"}
.mini-icon-download-tag:before,.mini-icon-tag:before{content:"\f015"}
.mini-icon-directory:before{content:"\f016"}
.mini-icon-submodule:before{content:"\f017"}
.mini-icon-person:before{content:"\f018"}
.mini-icon-team:before{content:"\f019"}
.mini-icon-member-added:before{content:"\f01a"}
.mini-icon-member-removed:before{content:"\f01b"}
.mini-icon-follow:before{content:"\f01c"}
.mini-icon-watching:before{content:"\f01d"}
.mini-icon-unwatch:before{content:"\f01e"}
.mini-icon-commit:before{content:"\f01f"}
.mini-icon-public-fork:before,.mini-icon-fork:before,.mini-icon-branch:before,.mini-icon-tree:before{content:"\f020"}
.mini-icon-private-fork:before{content:"\f021"}
.mini-icon-pull-request:before{content:"\f022"}
.mini-icon-merge:before{content:"\f023"}
.mini-icon-public-mirror:before{content:"\f024"}
.mini-icon-private-mirror:before{content:"\f025"}
.mini-icon-issue-opened:before{content:"\f026"}
.mini-icon-issue-reopened:before{content:"\f027"}
.mini-icon-issue-closed:before{content:"\f028"}
.mini-icon-issue-comment:before{content:"\f029"}
.mini-icon-star:before{content:"\f02a"}
.mini-icon-commit-comment:before{content:"\f02b"}
.mini-icon-help:before{content:"\f02c"}
.mini-icon-exclamation:before{content:"\f02d"}
.mini-icon-search-input:before{content:"\f02e"}
.mini-icon-advanced-search:before{content:"\f02f"}
.mini-icon-notifications:before{content:"\f030"}
.mini-icon-account-settings:before{content:"\f031"}
.mini-icon-logout:before{content:"\f032"}
.mini-icon-admin-tools:before{content:"\f033"}
.mini-icon-feed:before{content:"\f034"}
.mini-icon-clipboard:before{content:"\f035"}
.mini-icon-apple:before{content:"\f036"}
.mini-icon-windows:before{content:"\f037";content:"";background:transparent url("https://a248.e.akamai.net/assets.github.com/assets/primer/buttons/windows-sprite-706270f53ca712affded933ac9751b4fa97721e8.png") 0 0 no-repeat;width:16px;height:16px;display:inline-block}
.mini-icon-ios:before{content:"\f038"}
.mini-icon-download-android:before,.mini-icon-android:before{content:"\f039"}
.mini-icon-confirm:before{content:"\f03a"}
.mini-icon-unread-note:before{content:"\f03b"}
.mini-icon-read-note:before{content:"\f03c"}
.mini-icon-arr-up:before{content:"\f03d"}
.mini-icon-arr-right:before{content:"\f03e"}
.mini-icon-arr-down:before{content:"\f03f"}
.mini-icon-arr-left:before{content:"\f040"}
.mini-icon-pin:before{content:"\f041"}
.mini-icon-gift:before{content:"\f042"}
.mini-icon-graph:before{content:"\f043"}
.mini-icon-wrench:before{content:"\f044"}
.mini-icon-credit-card:before{content:"\f045"}
.mini-icon-time:before{content:"\f046"}
.mini-icon-ruby:before{content:"\f047"}
.mini-icon-podcast:before{content:"\f048"}
.mini-icon-key:before{content:"\f049"}
.mini-icon-force-push:before{content:"\f04a"}
.mini-icon-sync:before{content:"\f04b"}
.mini-icon-clone:before{content:"\f04c"}
.mini-icon-diff:before{content:"\f04d"}
.mini-icon-watchers:before{content:"\f04e"}
.mini-icon-discussion:before{content:"\f04f"}
.mini-icon-delete-note:before,.mini-icon-remove-close:before{content:"\f050"}
.mini-icon-reply:before{content:"\f051"}
.mini-icon-mail-status:before{content:"\f052"}
.mini-icon-block:before{content:"\f053"}
.mini-icon-tag-create:before{content:"\f054"}
.mini-icon-tag-delete:before{content:"\f055"}
.mini-icon-branch-create:before{content:"\f056"}
.mini-icon-branch-delete:before{content:"\f057"}
.mini-icon-edit:before{content:"\f058"}
.mini-icon-info:before{content:"\f059"}
.mini-icon-arr-collapsed:before{content:"\f05a"}
.mini-icon-arr-expanded:before{content:"\f05b"}
.mini-icon-link:before{content:"\f05c"}
.mini-icon-add:before{content:"\f05d"}
.mini-icon-reorder:before{content:"\f05e"}
.mini-icon-code:before{content:"\f05f"}
.mini-icon-location:before{content:"\f060"}
.mini-icon-u-list:before{content:"\f061"}
.mini-icon-o-list:before{content:"\f062"}
.mini-icon-quotemark:before{content:"\f063"}
.mini-icon-version:before{content:"\f064"}
.mini-icon-brightness:before{content:"\f065"}
.mini-icon-fullscreen:before{content:"\f066"}
.mini-icon-normalscreen:before{content:"\f067"}
.mini-icon-calendar:before{content:"\f068"}
.mini-icon-beer:before{content:"\f069"}
.mini-icon-secure:before,.mini-icon-lock:before{content:"\f06a"}
.mini-icon-added:before{content:"\f06b"}
.mini-icon-removed:before{content:"\f06c"}
.mini-icon-modified:before{content:"\f06d"}
.mini-icon-moved:before,.mini-icon-renamed:before{content:"\f06e"}
.mini-icon-add-comment:before{content:"\f06f"}
.mini-icon-horizontal-rule:before{content:"\f070"}
.mini-icon-arr-right-mini:before{content:"\f071"}
.mini-icon-jump-down:before{content:"\f072"}
.mini-icon-jump-up:before{content:"\f073"}
.mini-icon-reference:before{content:"\f074"}
.mini-icon-milestone:before{content:"\f075"}
.mini-icon-save-document:before{content:"\f076"}
.mini-icon-megaphone:before{content:"\f077"}
.mini-icon-chevron:before{content:"\f078"}
.mini-icon-gist-forked:before{content:"\f079"}
.mini-icon-gist-add:before{content:"\f07a"}
.mini-icon-bookmark:before{content:"\f07b"}
.mini-icon-filters:before{content:"\f07c"}
.mini-icon-dashboard:before{content:"\f07d"}
.mini-icon-history:before{content:"\f07e"}
.mini-icon-external-link:before{content:"\f07f"}
.mini-icon-mute:before{content:"\f080"}
.mini-icon-x:before{content:"\f081"}
.mini-icon-add-star:before{content:"\f082"}
.mini-icon-remove-star:before{content:"\f083"}
.mini-icon-circle-slash:before{content:"\f084"}
.mini-icon-pulse:before{content:"\f085"}
.mini-icon-new-file:before{content:"\f086"}
.mini-icon-refresh:before{content:"\f087"}
.mini-icon-telescope:before{content:"\f088"}
.mini-icon-microscope:before{content:"\f089"}
.mini-icon-align:before{content:"\f08a"}
.mini-icon-unalign:before{content:"\f08b"}
.mini-icon-gist-secret:before{content:"\f08c"}
.mini-icon-home:before{content:"\f08d"}
.mini-icon-aligned-to:before{content:"\f08e"}
.mini-icon-stop-spam:before{content:"\f08f"}
.mini-icon-zap:before{content:"\f090"}
.mini-icon-bug:before{content:"\f091"}
.mini-icon-loading-inner:before{content:"\f092"}
.mini-icon-loading-outer:before{content:"\f093"}
.mini-icon-binary-file:before{content:"\f094"}
.mini-icon-create-directory:before{content:"\f095"}
.mini-icon-datagase:before{content:"\f096"}
.mini-icon-server:before{content:"\f097"}
.mini-icon-ignored-file:before{content:"\f098"}
.mini-icon-ignore:before{content:"\f099"}
.mini-icon-ellipsis:before{content:"\f09a"}
.mini-icon-symlink:before{content:"\f09b"}
.mini-icon-no-newline:before{content:"\f09c"}
.mini-icon-hubot:before{content:"\f09d"}
.mini-icon-hourglass:before{content:"\f09e"}
.mega-icon{font-size:32px;width:32px;height:32px}
.mega-icon-private-repo:before{content:"\f26a"}
.mega-icon-public-repo:before{content:"\f201"}
.mega-icon-repo-forked:before{content:"\f202"}
.mega-icon-create:before{content:"\f203"}
.mega-icon-delete:before{content:"\f204"}
.mega-icon-push:before{content:"\f205"}
.mega-icon-pull:before{content:"\f206"}
.mega-icon-readme:before,.mega-icon-wiki:before{content:"\f207"}
.mega-icon-octocat:before{content:"\f208"}
.mega-icon-site-message:before,.mega-icon-blacktocat:before{content:"\f209"}
.mega-icon-invertocat:before{content:"\f20a"}
.mega-icon-download:before{content:"\f20b"}
.mega-icon-upload:before{content:"\f20c"}
.mega-icon-keyboard:before{content:"\f20d"}
.mega-icon-gist:before{content:"\f20e"}
.mega-icon-gist-private:before{content:"\f20f"}
.mega-icon-code-file:before,.mega-icon-download-unknown:before{content:"\f210"}
.mega-icon-download-text:before,.mega-icon-text-file:before{content:"\f211"}
.mega-icon-download-media:before{content:"\f212"}
.mega-icon-download-zip:before{content:"\f213"}
.mega-icon-download-pdf:before{content:"\f214"}
.mega-icon-download-tag:before,.mega-icon-tag:before{content:"\f215"}
.mega-icon-directory:before{content:"\f216"}
.mega-icon-submodule:before{content:"\f217"}
.mega-icon-person:before{content:"\f218"}
.mega-icon-team:before{content:"\f219"}
.mega-icon-member-added:before{content:"\f21a"}
.mega-icon-member-removed:before{content:"\f21b"}
.mega-icon-follow:before{content:"\f21c"}
.mega-icon-watching:before{content:"\f21d"}
.mega-icon-unwatch:before{content:"\f21e"}
.mega-icon-commit:before{content:"\f21f"}
.mega-icon-public-fork:before,.mega-icon-fork:before,.mega-icon-branch:before,.mega-icon-tree:before{content:"\f220"}
.mega-icon-private-fork:before{content:"\f221"}
.mega-icon-pull-request:before{content:"\f222"}
.mega-icon-merge:before{content:"\f223"}
.mega-icon-public-mirror:before{content:"\f224"}
.mega-icon-private-mirror:before{content:"\f225"}
.mega-icon-issue-opened:before{content:"\f226"}
.mega-icon-issue-reopened:before{content:"\f227"}
.mega-icon-issue-closed:before{content:"\f228"}
.mega-icon-issue-comment:before{content:"\f229"}
.mega-icon-star:before{content:"\f22a"}
.mega-icon-commit-comment:before{content:"\f22b"}
.mega-icon-help:before{content:"\f22c"}
.mega-icon-exclamation:before{content:"\f22d"}
.mega-icon-search-input:before{content:"\f22e"}
.mega-icon-advanced-search:before{content:"\f22f"}
.mega-icon-notifications:before{content:"\f230"}
.mega-icon-account-settings:before{content:"\f231"}
.mega-icon-logout:before{content:"\f232"}
.mega-icon-admin-tools:before{content:"\f233"}
.mega-icon-feed:before{content:"\f234"}
.mega-icon-clipboard:before{content:"\f235"}
.mega-icon-apple:before{content:"\f236"}
.mega-icon-windows:before{content:"\f237"}
.mega-icon-ios:before{content:"\f238"}
.mega-icon-android:before{content:"\f239"}
.mega-icon-confirm:before{content:"\f23a"}
.mega-icon-unread-note:before{content:"\f23b"}
.mega-icon-read-note:before{content:"\f23c"}
.mega-icon-arr-up:before{content:"\f23d"}
.mega-icon-arr-right:before{content:"\f23e"}
.mega-icon-arr-down:before{content:"\f23f"}
.mega-icon-arr-left:before{content:"\f240"}
.mega-icon-pin:before{content:"\f241"}
.mega-icon-gift:before{content:"\f242"}
.mega-icon-graph:before{content:"\f243"}
.mega-icon-wrench:before{content:"\f244"}
.mega-icon-credit-card:before{content:"\f245"}
.mega-icon-time:before{content:"\f246"}
.mega-icon-ruby:before{content:"\f247"}
.mega-icon-podcast:before{content:"\f248"}
.mega-icon-key:before{content:"\f249"}
.mega-icon-force-push:before{content:"\f24a"}
.mega-icon-sync:before{content:"\f24b"}
.mega-icon-clone:before{content:"\f24c"}
.mega-icon-diff:before{content:"\f24d"}
.mega-icon-watchers:before{content:"\f24e"}
.mega-icon-discussion:before{content:"\f24f"}
.mega-icon-delete-note:before,.mega-icon-remove-close:before{content:"\f250"}
.mega-icon-reply:before{content:"\f251"}
.mega-icon-mail-status:before{content:"\f252"}
.mega-icon-block:before{content:"\f253"}
.mega-icon-tag-create:before{content:"\f254"}
.mega-icon-tag-delete:before{content:"\f255"}
.mega-icon-branch-create:before{content:"\f256"}
.mega-icon-branch-delete:before{content:"\f257"}
.mega-icon-edit:before{content:"\f258"}
.mega-icon-info:before{content:"\f259"}
.mega-icon-arr-collapsed:before{content:"\f25a"}
.mega-icon-arr-expanded:before{content:"\f25b"}
.mega-icon-link:before{content:"\f25c"}
.mega-icon-add:before{content:"\f25d"}
.mega-icon-reorder:before{content:"\f25e"}
.mega-icon-code:before{content:"\f25f"}
.mega-icon-location:before{content:"\f260"}
.mega-icon-u-list:before{content:"\f261"}
.mega-icon-o-list:before{content:"\f262"}
.mega-icon-quotemark:before{content:"\f263"}
.mega-icon-version:before{content:"\f264"}
.mega-icon-brightness:before{content:"\f265"}
.mega-icon-fullscreen:before{content:"\f266"}
.mega-icon-normalscreen:before{content:"\f267"}
.mega-icon-calendar:before{content:"\f268"}
.mega-icon-beer:before{content:"\f269"}
.mega-icon-secure:before,.mega-icon-lock:before{content:"\f26a"}
.mega-icon-added:before{content:"\f26b"}
.mega-icon-removed:before{content:"\f26c"}
.mega-icon-modified:before{content:"\f26d"}
.mega-icon-moved:before,.mega-icon-renamed:before{content:"\f26e"}
.mega-icon-add-comment:before{content:"\f26f"}
.mega-icon-horizontal-rule:before{content:"\f270"}
.mega-icon-arr-right-mini:before{content:"\f271"}
.mega-icon-jump-down:before{content:"\f272"}
.mega-icon-jump-up:before{content:"\f273"}
.mega-icon-reference:before{content:"\f274"}
.mega-icon-milestone:before{content:"\f275"}
.mega-icon-save-document:before{content:"\f276"}
.mega-icon-megaphone:before{content:"\f277"}
.mega-icon-chevron:before{content:"\f278"}
.mega-icon-gist-forked:before{content:"\f279"}
.mega-icon-gist-add:before{content:"\f27a"}
.mega-icon-bookmark:before{content:"\f27b"}
.mega-icon-filters:before{content:"\f27c"}
.mega-icon-dashboard:before{content:"\f27d"}
.mega-icon-history:before{content:"\f27e"}
.mega-icon-external-link:before{content:"\f27f"}
.mega-icon-mute:before{content:"\f280"}
.mega-icon-x:before{content:"\f281"}
.mega-icon-add-star:before{content:"\f282"}
.mega-icon-remove-star:before{content:"\f283"}
.mega-icon-circle-slash:before{content:"\f284"}
.mega-icon-pulse:before{content:"\f285"}
.mega-icon-new-file:before{content:"\f286"}
.mega-icon-refresh:before{content:"\f287"}
.mega-icon-telescope:before{content:"\f288"}
.mega-icon-microscope:before{content:"\f289"}
.mega-icon-align:before{content:"\f28a"}
.mega-icon-unalign:before{content:"\f28b"}
.mega-icon-gist-secret:before{content:"\f28c"}
.mega-icon-home:before{content:"\f28d"}
.mega-icon-aligned-to:before{content:"\f28e"}
.mega-icon-stop-spam:before{content:"\f28f"}
.mega-icon-zap:before{content:"\f290"}
.mega-icon-bug:before{content:"\f291"}
.mega-icon-loading-inner:before{content:"\f292"}
.mega-icon-loading-outer:before{content:"\f293"}
.mega-icon-binary-file:before{content:"\f294"}
.mega-icon-create-directory:before{content:"\f295"}
.mega-icon-datagase:before{content:"\f296"}
.mega-icon-server:before{content:"\f297"}
.mega-icon-ignored-file:before{content:"\f298"}
.mega-icon-ignore:before{content:"\f299"}
.mega-icon-ellipsis:before{content:"\f29a"}
.mega-icon-symlink:before{content:"\f29b"}
.mega-icon-no-newline:before{content:"\f29c"}
.mega-icon-hubot:before{content:"\f29d"}
.mega-icon-hourglass:before{content:"\f29e"}
